# Build
build/

# Dart / Flutter
.dart_tool/
.packages
*.iml
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Installer output
installers/*.exe

# Generated
*.g.dart
*.freezed.dart
*.mocks.dart
